.cmp-image {}
.cmp-image__link {}
.cmp-image__image {}
.cmp-image__title {}


.image-logo {
    .cmp-image {
        vertical-align: middle;
        float: left;
        height: 71px;
        line-height: 66px;
        margin-right: 15px;
    }
    .cmp-image__image {
        width: 125px;
        max-height: 22px;
    vertical-align: middle;
    margin-right: 15px;
    height: auto;
    max-width: 100%;
    }
}